@model prjAdmin.ViewModels.CProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="h1" style="margin-top:0.5em;font-weight:bold">修改產品</h1>
<div>
    <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-arrow-left-long"></i> 返回產品列表</a>
</div>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div style="display:flex">
        <div style="width:2em"></div>
        <div class="col-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4 style="text-decoration:underline">產品基本資料</h4>
            <div class="form-group">
                <input asp-for="ProductId" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" required />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.CategoriesName" class="control-label"></label>
                @Html.DropDownListFor(model => model.CategoryId, ViewBag.CateListItem as SelectList, new { @class = "form-control" })
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country.CountryName" class="control-label"></label>
                @Html.DisplayFor(model => model.Coffee.Roasting.RoastingName)
                @Html.DropDownListFor(model => model.CountryId, ViewBag.CtryListItem as SelectList, new { @class = "form-control" })
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" required />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="6" cols="40"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" required />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="ClickCount" class="form-control" hidden />
            </div>
            <br />
            <div class="form-group form-check form-switch">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TakeDown" /> 產品下架
                </label>
            </div>
            <div class="form-group">
                <input asp-for="Star" class="form-control" hidden />
            </div>
        </div>
        <div style="width: 5em; position: relative;">
            @*<div class="form-group" style="position: absolute; bottom: 0px; right: 0px;">
                    <input type="submit" value="確認" class="btn btn-primary" />
                </div>*@
        </div>
        <div class="col-4">
            <h4 style="text-decoration:underline">咖啡類詳細資料</h4>
            <div class="form-group">
                <label asp-for="Coffee.Package.PackageName" class="control-label"></label>
                @Html.DropDownListFor(model => model.PackageId, ViewBag.PkgListItem as SelectList, new { @class = "form-control" })
                <span asp-validation-for="PackageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coffee.Roasting.RoastingName" class="control-label"></label>
                @Html.DropDownListFor(model => model.RoastingId, ViewBag.RoastListItem as SelectList, new { @class = "form-control" })
                <span asp-validation-for="RoastingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coffee.Process.ProcessName" class="control-label"></label>
                @Html.DropDownListFor(model => model.ProcessId, ViewBag.PrcsListItem as SelectList, new { @class = "form-control" })
                <span asp-validation-for="ProcessId" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="form-group form-check form-switch">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RainForest" /> @Html.DisplayNameFor(model => model.RainForest)
                </label>
            </div>
            <br />
            <div class="custom-file ">

                @*<label class="custom-file-label col-md-6" for="customFile">產品主要圖片</label>
                        <input type="file" class="form-control col-md-6" id="customFile" name="photo" accept="image/*">
                    </div>
                    <br />
                    <div class="custom-file ">
                        <img id="imgPrev" src="~/Images/@Model.MainPhotoPath" class="mainImg" />*@
                <div class="col-12">
                    <div class="card card-body border-0 shadow mb-4">
                        <h2 class="h5 mb-4">主產品圖片</h2>
                        <div class="d-flex align-items-center">
                            <div class="me-3">
                                <!-- Avatar -->
                                @{
                                    if (string.IsNullOrEmpty(Model.MainPhotoPath))
                                    {
                                        <img class="rounded avatar-xl" id="imgPrev" src="~/Images/新增產品預設圖.png" alt="主產品圖" draggable="true" />
                                    }
                                    else
                                    {
                                        <img class="rounded avatar-xl" id="imgPrev" src="~/Images/@Model.MainPhotoPath" alt="主產品圖" draggable="true" />
                                    }
                                }

                            </div>
                            <div class="file-field">
                                <div class="d-flex justify-content-xl-center ms-xl-3">
                                    <div class="d-flex">
                                        <svg class="icon text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"></path></svg>
                                        <input type="file" name="photo" accept="image/*" id="customFile" />
                                        <div class="d-md-block text-left">
                                            <div class="fw-normal text-dark mb-1">上傳主產品圖片</div>
                                            <div class="text-gray small">JPG, GIF or PNG</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card card-body border-0 shadow mb-4">
                        <h2 class="h5 mb-4">副產品圖片(2張)</h2>
                        <div class="d-flex align-items-center">
                            <div class="me-3">
                                <!-- Avatar -->
                                @{
                                    if (Model.SubPhotosPath.Count == 0)
                                    {
                                        <img class="rounded avatar-xl " id="imgPrev0" src="~/Images/新增產品預設圖.png" alt="副產品圖1" draggable="true" />
                                    }
                                    else
                                    {
                                        <img class="rounded avatar-xl" id="imgPrev0" src="~/Images/@Model.SubPhotosPath[0]" alt="副產品圖1" draggable="true" />
                                    }
                                }
                            </div>
                            <div class="me-3">
                                <!-- Avatar -->
                                @{
                                    if (Model.SubPhotosPath.Count <= 1)
                                    {
                                        <img class="rounded avatar-xl" id="imgPrev1" src="~/Images/新增產品預設圖.png" alt="副產品圖2" draggable="true" />
                                    }
                                    else
                                    {
                                        <img class="rounded avatar-xl" id="imgPrev1" src="~/Images/@Model.SubPhotosPath[1]" alt="副產品圖2" draggable="true" />
                                    }
                                }
                            </div>
                            <div class="file-field">
                                <div class="d-flex justify-content-xl-center ms-xl-3">
                                    <div class="d-flex">
                                        <svg class="icon text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"></path></svg>
                                        <input type="file" name="SubPhotos" accept="image/*" id="customFile1" multiple />
                                        <div class="d-md-block text-left">
                                            <div class="fw-normal text-dark mb-1">上傳副產品圖片</div>
                                            <div class="text-gray small">JPG, GIF or PNG</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div style="display:flex">
        <div style="width:2em"></div>
        <div class="col-4"></div>
        <div style="width: 5em; position: relative;">
            <br />
            <br />
            <div class="form-group" style="position: absolute; bottom: 0px; right: 0px;">
                <input type="submit" value="確認" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</form>
<div class="theme-settings card bg-gray-800 pt-2 collapse" id="theme-settings">
    <div class="card-body bg-gray-800 text-white pt-4">
        <button type="button" class="btn-close theme-settings-close" aria-label="Close" data-bs-toggle="collapse"
                href="#theme-settings" role="button" aria-expanded="false" aria-controls="theme-settings"></button>
        <div class="col-12" id="DeletePhotos">
            <p>請將欲刪除圖片拖曳至此</p>
            <div class="" style="border:4px dashed white;height:4em">
                <!--<div class="d-flex align-items-center">
                    <div class="me-3">-->
                <!--Avatar -->
                <!--</div>
                    <div class="file-field">
                        <div class="d-flex justify-content-xl-center ms-xl-3">
                            <div class="d-flex">
                                <div class="d-md-block text-left">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>

<div class="card theme-settings bg-gray-800 theme-settings-expand" id="theme-settings-expand">
    <div class="card-body bg-gray-800 text-white rounded-top p-3 py-2">
        <span class="fw-bold d-inline-flex align-items-center h6">
            @*<svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>*@
            <i class="fa-solid fa-trash-can me-2"></i>
            刪除圖片
        </span>
    </div>
</div>
@section Styles{
    <style>
        .mainImg {
            max-width: 70em;
            max-height: 15em;
        }
    </style>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //========================= 預覽圖 =========================
        $("#customFile").change(function () {
            readUrl(this);
        });
        // 主圖片預覽圖
        function readUrl(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    $("#imgPrev").attr("src", event.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#customFile1").change(function () {
            readSubUrl(this);
        });
        // 副圖片預覽圖
        const imgsrc0 = $("#imgPrev0").attr("src"),
              imgsrc1 = $("#imgPrev1").attr("src");
        function readSubUrl(input) {
            // 若上傳2張副圖片
            if (input.files && input.files.length == 2) {
                // 利用迴圈更改各預覽圖
                for (let i = 0; i < 2; i++) {
                    var reader = new FileReader;
                    reader.onload = function (event) {
                        $("#imgPrev" + `${i}`).attr("src", event.target.result);
                    };

                    reader.readAsDataURL(input.files[i]);
                }
            };
            // 若只上傳1張副圖片
            if (input.files && input.files.length == 1) {
                var reader = new FileReader;
                reader.onload = function (event) {
                    //若第1張圖為預設圖(產品未上傳任何副圖片)，則改變第1張圖(左)
                    if (imgsrc0 == "/Images/新增產品預設圖.png") {
                        $("#imgPrev0").attr("src", event.target.result);
                    }
                    else {
                        // 若第2張為預設圖(產品已有1張副圖片)，則更新第2張圖(右)
                        if (imgsrc1 == "/Images/新增產品預設圖.png") {
                            $("#imgPrev1").attr("src", event.target.result);
                            return;
                        }
                        // 若第1張圖為原本地2張遞補的圖，繼續點擊上傳的話則只改變第2張圖(右)
                        if ($("#imgPrev0").attr("src") == imgsrc1) {
                            $("#imgPrev1").attr("src", event.target.result);
                            return;
                        }
                        // 若原本都不是預設圖，刪除原本第1張預覽圖，第2張預覽圖往前遞補。第2張預覽圖顯示新上傳的副圖片
                        let srcString = $("#imgPrev1").attr("src");
                        $("#imgPrev0").attr("src", srcString);
                        $("#imgPrev1").attr("src", event.target.result);
                    };
                };

                reader.readAsDataURL(input.files[0]);
            };
            // 若上傳超過2張圖片
            if (input.files && input.files.length >= 3) {
                alert("最多只能添加2張產品副圖片");
                return;
            }
        }
         //========================= 預覽圖 =========================

         //====================== 拖曳刪除圖片 =======================
        $("#DeletePhotos").on("dragover", function (e) {
            e.preventDefault();
            console.log("aa")
            return false;
        });

        $("#DeletePhotos").on("drop", function (e) {
            e.preventDefault();
            var yes = confirm("確定要刪除嗎?");
            if (yes) {
                e.originalEvent.dataTransfer.items[0].getAsString(async function (url) {
                    const response = await fetch('@Url.Content("~/api/DeleteSubPhoto")' + `?url=${url}`);
                    window.location.reload();
                });
            };
        });
         //====================== 拖曳刪除圖片 =======================
    </script>
}

