@model IEnumerable<prjAdmin.ViewModels.CProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="h1" style="margin-top: 0.5em; font-weight: bold">產品列表</h1>
<!-- Search form -->
<form class="navbar-search form-inline col-md-4" id="navbar-search-main">
    <div class="input-group input-group-merge search-bar">
        <span class="input-group-text" id="topbar-addon">
            <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
            </svg>
        </span>
        <span class="input-group-text" id="topbar-addon">
            <i class="fa-solid fa-microphone"></i>
        </span>
        <input type="text" name="txtKeyword" class="form-control" id="topbarInputIconLeft" placeholder="搜尋" aria-label="Search" aria-describedby="topbar-addon">
    </div>
    <div >
        <label style="margin-left:5em" id="infoBox">提示文字</label>
    </div>
</form>

<br />
<a asp-action="Create" class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle">
    <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
    新增產品
</a>
<br />
<br />
<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table-hover">
        <thead>
            <tr>
                <th class="col-md-1" >
                    產品圖片
                </th>
                <th class="col-md-1" style="text-align:center">
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th class="col-md-1" style="text-align:center">
                    @Html.DisplayNameFor(model => model.Category.CategoriesName)
                </th>
                <th class="col-md-1" style="text-align:center">
                    @Html.DisplayNameFor(model => model.Country.CountryName)
                </th>
                <th class="col-md-1" style="text-align:center">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th class="col-md-2" style="text-align:center">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="col-md-1" style="text-align:center">
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                <th class="col-md-1" style="text-align:center">
                    @Html.DisplayNameFor(model => model.ClickCount)
                </th>
                <th class="col-md-1" style="text-align:center">
                    @Html.DisplayNameFor(model => model.TakeDown)
                </th>
                <th class="col-md-1" style="text-align:center">
                    @Html.DisplayNameFor(model => model.Star)
                </th>
                <th class="col-md-1" style="text-align:center">操作</th>
            </tr>
        </thead>
        <tbody >
            @{
                int count = 0;
                foreach (var item in Model)
                {
                    count++;
                    <tr >
                        <td class="col-md-1">
                            <img src="~/Images/@item.MainPhotoPath" />
                        </td>
                        <td class="col-md-1" style="text-align:center">
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td class="col-md-1" style="text-align:center">
                            @Html.DisplayFor(modelItem => item.Category.CategoriesName)
                        </td>
                        <td class="col-md-1" style="text-align:center">
                            @Html.DisplayFor(modelItem => item.Country.CountryName)
                        </td>
                        <td class="col-md-1" style="text-align:center">
                            $@Convert.ToInt32(item.Price).ToString(".")
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="col-md-1" style="text-align:center">
                            @Html.DisplayFor(modelItem => item.Stock)
                        </td>
                        <td class="col-md-1" style="text-align:center">
                            @Html.DisplayFor(modelItem => item.ClickCount)
                        </td>
                        <td class="col-md-1" style="text-align:center">
                            @{
                                if (item.TakeDown == false)
                                {
                                    @:上架中
                                }
                                else
                                {
                                    @Html.Label("下架", "下架中", new { style = "color:red;font-weight:bold" })
                                }
                            }
                        </td>
                        <td class="col-md-1">
                            @Html.DisplayFor(modelItem => item.Star)

                        </td>
                        <td class="col-md-1" style="text-align:center">
                            @Html.ActionLink("編輯", "Edit", "Product", new { id = item.ProductId }, new { @class = "btn btn-sm btn-primary" })
                            <br />
                            <br />
                            @{ if (item.TakeDown == false)
                                    @Html.ActionLink("下架", "TakeDown", "Product", new { id = item.ProductId }, new { @class = "btn btn-sm btn-secondary", onclick = "return confirm('確認要下架此產品嗎?')" })
                                    else
                                        @Html.ActionLink("上架", "Launch", "Product", new { id = item.ProductId }, new { @class = "btn btn-sm btn-success key", onclick = "return confirm('確認要上架此產品嗎?')" })
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script>
        let pro = document.querySelector("#product");

        pro.classList.add("active");

        $(".key").parents("tr").css("background-color", "#FFFAF4");

        var recognizing = false,
            infoBox = $("#infoBox"),
            textBox = $("#topbarInputIconLeft"),            
            final = "";

        if (recognizing) {
            recognition.stop();
        }
        else {
            textBox.val() = "";
            final = "";
            recognition.lang = "zh-tw";
            recognition.start();
        }

        if (!("webkitSpeechRecognition" in window)) {
            infoBox.text = "本瀏覽器不支援語音辨識，請更換瀏覽器！(Chrome 25 版以上才支援語音辨識)";
        }
        else {
            var recognition = new webkitSpeechRecognition();

            recognition.continuous = true;
            recognition.interimResults = true;
            recognition.onstart = function () {
                recognizing = true;
                infoBox.text = "麥克風已開啟";
            };
            recognition.onresult = function (event) {
                var interim = "";
                infoBox.text = "辨識中...";
                for (var i = event.resultIndex; i < event.result.length; i++) {
                    if (event.results[i].isFinal) {
                        final += event.results[i][0].transcript;
                    }
                    else {
                        interim += event.results[i][0].transcript;
                    };
                };
                if (final.trim().length > 0) {
                    textBox.text.text = final;
                };
            }
            recognition.onspeechend = function () {
                infoBox.text = "沒有偵測到語音";
            }
            recognition.onerror = function () {
                infoBox.text = "錯誤";
            }
        }
    </script>
}

