@model IEnumerable<prjAdmin.ViewModels.COrderViewModel>

<table class="table-hover">
    <thead>
        <tr>
            <th class="col-1">
                #
            </th>
            <th class="col-1">
                會員編號
            </th>
            <th class="col-1" style="text-align:center">
                成立日期
            </th>
            <th class="col-1" style="text-align:center">
                支付方式
            </th>
            <th class="col-1" style="text-align:center">
                收件者
            </th>
            <th class="col-1" style="text-align:center">
                電話
            </th>
            <th class="col-2" style="text-align:center">
                地址
            </th>
            <th class="col-1" style="text-align:center">
                訂單明細
            </th>
            <th class="col-1" style="text-align:center">
                訂單狀態
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TradeNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td style="text-align:center">
                    @Convert.ToDateTime(item.OrderDate).ToString("yyyy/MM/dd")
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Payment.Payment1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderReceiver)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.OrderPhone)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.OrderAddress)
                </td>
                <td style="text-align:center">
                    <button type="button" id="btndetail" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">訂單明細</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width:600px">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">訂單明細</h5>
                                    <button type="button" id="btndetail" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    產品名稱
                                                </th>
                                                <th>
                                                    產品單價
                                                </th>
                                                <th>
                                                    數量
                                                </th>
                                                <th>
                                                    小計
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="detailbody"></tbody>
                                    </table> <br />
                                    <p id="labsubtotal"></p>
                                    <p id="labcoupon"></p>
                                    <p id="labfee"></p>
                                    <p id="labtotal"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="col-md-1" style="text-align:center">
                    @Html.DisplayFor(modelItem => item.OrderState.OrderState1)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    //$("button[id='dropdownMenuButton1']").each(function () {
    //    if ($(this).parent().find("#stateid").val() == 1) $(this).addClass("active1");
    //    else if ($(this).parent().find("#stateid").val() == 2) $(this).addClass("active2");
    //    else if ($(this).parent().find("#stateid").val() == 3) $(this).addClass("active3");
    //    else if ($(this).parent().find("#stateid").val() == 4) $(this).addClass("active4");
    //    else if ($(this).parent().find("#stateid").val() == 5) $(this).addClass("active5");
    //})
</script>
