@model IEnumerable<prjAdmin.ViewModels.CMemberViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="h1" style="margin-top: 0.5em; font-weight: bold">會員列表</h1>
<!-- Search form -->
<form class="navbar-search form-inline col-md-4" id="navbar-search-main">
    <div class="input-group input-group-merge search-bar">
        <span class="input-group-text" id="topbar-addon">
            <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
            </svg>
        </span>
        <input type="text" name="txtKeyword" class="form-control" id="topbarInputIconLeft" placeholder="搜尋" aria-label="Search" aria-describedby="topbar-addon">
    </div>
</form>
<br />
<br />
<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table-hover">
        <thead>
            <tr>
                <th class="col-1">
                    #
                </th>
                <th class="col-1" >
                    @Html.DisplayNameFor(model => model.MemberPhotoPath)
                </th>
                <th class="col-1" style="text-align:center">
                    @Html.DisplayNameFor(model => model.MemberPhone)
                </th>
                <th class="col-1" style="text-align:center">
                    @Html.DisplayNameFor(model => model.MemberName)                    
                </th>
                <th class="col-2" style="text-align:center">
                    @Html.DisplayNameFor(model => model.MemberAddress)
                </th>
                <th class="col-2" style="text-align:center">
                    @Html.DisplayNameFor(model => model.MemberEmail)
                </th>
                <th class="col-1" style="text-align:center">
                    @Html.DisplayNameFor(model => model.MemberBirthDay)
                </th>
                <th class="col-2" style="text-align:center">
                    @Html.DisplayNameFor(model => model.BlackList)
                </th>
                <th class="col-1" style="text-align:center">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td>
                    <img src="~/Images/@item.MemberPhotoPath" />
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.MemberPhone)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.MemberName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberAddress)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.MemberEmail)                    
                </td>
                <td style="text-align:center">
                    @Convert.ToDateTime(item.MemberBirthDay).ToString("yyyy/MM/dd")
                </td>
                <td style="text-align:center">
                    @{
                        if (item.BlackList == false)
                        {
                            @Html.Label("未停權", "未停權", new { style = "color:green;font-weight:bold" })
                        }
                        else
                        {
                            @Html.Label("停權中", "停權中", new { style = "color:red;font-weight:bold" })
                        }
                    }
                </td>
                <td class="col-md-1" style="text-align:center">
                    @Html.ActionLink("消費紀錄", "Details", "Admin_Member", new { id = item.MemberId}, new { @class = "btn btn-sm btn-primary" })
                    <br />
                    <br />
                    @{ if (item.BlackList == false)
                            @Html.ActionLink("停權處理", "suspend", "Admin_Member", new { id = item.MemberId }, new { @class = "btn btn-sm btn-danger", onclick = "return confirm('確認要停權此會員嗎?')" })
                            else
                                @Html.ActionLink("重新啟用", "restart", "Admin_Member", new { id = item.MemberId }, new { @class = "btn btn-sm btn-success key", onclick = "return confirm('確認要解除此會員的停權嗎?')" })
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script>
        let pro = document.querySelector("#member");

        pro.classList.add("active");
        $(".key").parents("tr").css("background-color", "#FFFAF4");
    </script>
}
