@model prjAdmin.ViewModels.CMemberDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<br />
<div>
    <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-arrow-left-long"></i> 返回會員列表</a>
</div>
<br />
<div class="row">
    <div class="col-12 col-xl-8">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4" style="font-weight:bold">會員基本資料</h2>
            <form>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="member.MemberId" for="MemberId" style="font-weight:bold"></label>
                        <input asp-for="member.MemberId" id="MemberId" class="form-control" type="text" placeholder="會員編號" readonly />
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label asp-for="member.MemberName" for="MemberName" style="font-weight:bold"></label>
                            <input asp-for="member.MemberName" id="MemberName" class="form-control" type="text" placeholder="會員姓名" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label asp-for="member.MemberPhone" for="MemberPhone" style="font-weight:bold"></label>
                            <input asp-for="member.MemberPhone" id="MemberPhone" class="form-control" type="text" placeholder="會員電話" readonly>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="member.MemberBirthDay" for="MemberBirthDay" style="font-weight:bold"></label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                            </span>
                            <input asp-for="member.MemberBirthDay" class="form-control" id="MemberBirthDay" type="text" placeholder="yyyy/mm/dd" readonly>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">

                    <div class="col-md-6 mb-3">
                        <div>
                            <label asp-for="member.MemberEmail" for="MemberEmail" style="font-weight:bold"></label>
                            <input asp-for="member.MemberEmail" id="MemberEmail" class="form-control" type="text" placeholder="name@company.com" readonly>
                        </div>
                    </div>
                </div>
                <h2 class="h5 my-4" style="font-weight:bold">住址</h2>
                <div class="row">
                    <div class="col-sm-9 mb-3">
                        <div class="form-group">
                            <label asp-for="member.MemberAddress" for="MemberAddress" style="font-weight:bold"></label>
                            <input asp-for="member.MemberAddress" class="form-control" id="MemberAddress" type="text" placeholder="會員地址" readonly>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card shadow border-0 text-center p-0">
                    <div class="profile-cover rounded-top" style="background:url('../../assets/img/profile-cover.jpg')"></div>
                    <div class="card-body pb-5">
                        <img src="~/Images/@Model.member.MemberPhotoPath" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="會員圖片">
                        <h4 class="h3">@Model.member.MemberName</h4>
                        @*<h5 class="fw-normal">Senior Software Engineer</h5>*@
                        <p class="text-gray mb-4">@Model.member.MemberEmail</p>
                        <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="#">
                            <i class="fa-solid fa-envelope me-1"></i>
                            @*<svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path></svg>*@
                            Email
                        </a>
                        @{ if (Model.member.BlackList == false)
                                @Html.ActionLink("停權處理", "suspend", "Member", new { id = Model.member.MemberId }, new { @class = "btn btn-sm btn-danger", onclick = "return confirm('確認要停權此會員嗎?')" })
                                else
                                    @Html.ActionLink("重新啟用", "restart", "Member", new { id = Model.member.MemberId }, new { @class = "btn btn-sm btn-success key", onclick = "return confirm('確認要解除此會員的停權嗎?')" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-body border-0 shadow mb-4 mb-xl-0">
        <h2 class="h5 mb-4" style="font-weight:bold">會員消費紀錄</h2>
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <table class="table-hover">
                <thead>
                    <tr>
                        <th class="col-1">
                            #
                        </th>
                        <th class="col-1">
                            會員編號
                        </th>
                        <th class="col-1" style="text-align:center">
                            成立日期
                        </th>
                        <th class="col-1" style="text-align:center">
                            支付方式
                        </th>
                        <th class="col-2" style="text-align:center">
                            地址
                        </th>
                        <th class="col-2" style="text-align:center">
                            會員姓名
                        </th>
                        <th class="col-1" style="text-align:center">
                            會員電話
                        </th>
                        <th class="col-1" style="text-align:center">
                            折價券
                        </th>
                        <th class="col-1" style="text-align:center">
                            訂單狀態
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.order)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MemberId)
                            </td>
                            <td style="text-align:center">
                                @Convert.ToDateTime(item.OrderDate).ToString("yyyy/MM/dd")
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Payment.Payment1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderAddress)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.OrderReceiver)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.OrderPhone)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Coupon.CouponName)
                            </td>
                            <td class="col-md-1" style="text-align:center">
                                @Html.DisplayFor(modelItem => item.OrderState.OrderState1)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>