@model IEnumerable<prjAdmin.ViewModels.COrderViewModel>

@{
    ViewData["Title"] = "Index";
}
@section Styles
{
    <style>
        .active1 { /*已收到訂單 */
            background-color: lightblue;
            border: 1px lightblue solid;
        }

            .active1:hover {
                background-color: cornflowerblue;
                border: 1px cornflowerblue solid;
                color: white;
            }

        .active2 { /*已出貨*/
            background-color: orange;
            border: 1px orange solid;
        }

            .active2:hover {
                background-color: coral;
                border: 1px coral solid;
                color: white;
            }

        .active3 { /*已送達收貨地址*/
            background-color: limegreen;
            border: 1px limegreen solid;
        }

            .active3:hover {
                background-color: seagreen;
                border: 1px seagreen solid;
                color: white;
            }

        .active4 { /*已取消*/
            background-color: gray;
            border: 1px gray solid;
        }

            .active4:hover {
                background-color: dimgrey;
                border: 1px dimgrey solid;
                color: white;
            }

        .active5 { /*審核中*/
            background-color: red;
            border: 1px orangered solid;
        }

            .active5:hover {
                background-color: red;
                border: 1px red solid;
                color: white;
            }
    </style>
}

<h1 class="h1" style="margin-top: 0.5em; font-weight: bold">訂單列表</h1>
<!-- Search form -->
<form class="navbar-search form-inline col-md-4"    id="navbar-search-main">
    <div class="input-group input-group-merge search-bar">
        <span class="input-group-text" id="topbar-addon">
            <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
            </svg>
        </span>
        <input type="text" name="txtKeyword" class="form-control" id="topbarInputIconLeft" placeholder="搜尋" aria-label="Search" aria-describedby="topbar-addon">
    </div>
</form>

<br />
<br />

<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio0" autocomplete="off" value="0" checked>
    <label class="btn btn-outline-primary" for="btnradio0">全部訂單</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="1">
    <label class="btn btn-outline-primary" for="btnradio1">已收到訂單</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="2">
    <label class="btn btn-outline-primary" for="btnradio2">已出貨</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value="3" >
    <label class="btn btn-outline-primary" for="btnradio3">已送達收貨地址</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" value="4">
    <label class="btn btn-outline-primary" for="btnradio4">已取消</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" value="5">
    <label class="btn btn-outline-primary" for="btnradio5">審核中</label>  
</div>

<br />
<br />

<div class="card card-body border-0 shadow table-wrapper table-responsive" id="content" style="overflow-x:auto;overflow-y:auto">
    <table class="table">
        <thead>
            <tr>
                <th>
                    序號
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TradeNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MemberId)
                </th>
                <th>
                    訂單日期
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderReceiver)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderAddress)
                </th>
                <th>
                    訂單明細
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderStateId)
                </th>
            </tr>
        </thead>
        <tbody>   
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                        <input type="hidden" id="idorderid" value="@item.OrderId" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TradeNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberId)
                    </td>
                    <td>
                        @item.OrderDate.ToString("D")
                    </td>
                    <td>
                        @item.Payment.Payment1
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderReceiver)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderAddress)
                    </td>
                    <td>                
                        <button type="button" id="btndetail" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">訂單明細</button>
                                             
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:600px">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">訂單明細</h5>
                                        <button type="button" id="btndetail" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        產品名稱
                                                    </th>
                                                    <th>
                                                        產品單價
                                                    </th>
                                                    <th>
                                                        數量
                                                    </th>
                                                    <th>
                                                        小計
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="detailbody"></tbody>
                                        </table> <br />
                                        <p id="labsubtotal"></p>
                                        <p id="labcoupon"></p>
                                        <p id="labfee"></p>
                                        <p id="labtotal"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td>
                        <div class="dropdown">
                            <input type="hidden" value=" @item.OrderState.OrderStateId" id="stateid" />
                            <button class="btn btn-secondary btnstate dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                @item.OrderState.OrderState1
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="@Url.Action("Editstate","Order", new { orderid = item.OrderId, stateid=1})" onclick="return confirm('確認要修改訂單狀態?')">已收到訂單</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Editstate","Order", new { orderid = item.OrderId, stateid=2})" onclick="return confirm('確認要修改訂單狀態?')">已出貨</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Editstate","Order", new { orderid = item.OrderId, stateid=3})" onclick="return confirm('確認要修改訂單狀態?')">已送達收貨地址</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Editstate","Order", new { orderid = item.OrderId, stateid=4})" onclick="return confirm('確認要修改訂單狀態?')">已取消</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Editstate","Order", new { orderid = item.OrderId, stateid=5})" onclick="return confirm('確認要修改訂單狀態?')">審核中</a></li>
                            </ul>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



@section Scripts{
    <script>
        //篩選訂單======================================
        $(".btn-group").on("click", ".btn-check", function () {
            $(":checked").each(function () {
                let id = $(this).val();
                $("#content").load('@Url.Content("~/Order/Filter1")' + "?id=" + id );
            })

        });

        ////選單特效======================================
        //let pro = document.querySelector("#order");
        //pro.classList.add("active");
        //$(".key").parents("tr").css("background-color", "#FFFAF4");


        //訂單明細======================================
        $("#content").on("click", "#btndetail", function () {
                let id = $(this).parent().parent().find("#idorderid").val();
            $("#detailbody").html("");
            $.get('@Url.Content("~/Order/Detail")', { "id": id },
                function (data) {
                    let 小計 = 0;
                    let 折價卷金額 = 0;
                    let 運費 = 0;
                    let 總金額 = 0;
                    $.each(data, function (index, value) {
                        let content = `<tr><td>${value.d產品名}</td><td>${value.d單價}</td><td>${value.d數量}</td><td>${value.d小計}</td>`
                        $("#detailbody").append(content);
                        小計 += value.d小計;
                        折價卷金額 = value.d優惠卷金額;
                        運費 = value.d運費;
                    })
                    總金額 = 小計 - 折價卷金額 + 運費;
                    $("#labsubtotal").html(`商品小計 : $NT${小計}`);
                    if (折價卷金額!=0) {
                        $("#labcoupon").html(`優惠折扣 : -$NT${折價卷金額}`);
                    }
                    else $("#labcoupon").html("");
                    $("#labfee").html(`運費 : $NT${運費}`);
                    $("#labtotal").html(`訂單總金額 : $NT${總金額}`).css({ "font-size": 20, "color": "#F75000" });
                })
        })
             

        //訂單狀況======================================
        $("button[id='dropdownMenuButton1']").each(function () {
            if ($(this).parent().find("#stateid").val() == 1) $(this).addClass("active1");
            else if ($(this).parent().find("#stateid").val() == 2) $(this).addClass("active2");
            else if ($(this).parent().find("#stateid").val() == 3) $(this).addClass("active3");
            else if ($(this).parent().find("#stateid").val() == 4) $(this).addClass("active4");
            else if ($(this).parent().find("#stateid").val() == 5) $(this).addClass("active5");
        })

    </script>
}
